<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/tables.css">
    <title class="title">Home page</title>
</head>

{% block content %}

<body>

<div class="section">
    <div class="container">
        <h3 class="title">Game Sessions</h3>
        <table class="statusTable">
            <tr>
                <th>game session name</th>
                <th>enter</th>
                <th>manage session</th>
                <th>delete</th>
            </tr>
            {%for game in gamesSessions%}
            <tr>
                <td>
                    <p>{{game.name}}</p>
                </td>
                <td>
                    <button onclick="redirectPage('/live-game?session-id={{game.id}}')">enter game</button>
                </td>
                <td>
                    <button onclick="redirectPage('/games-menu?id={{game.id}}')">manage session</button>
                </td>
                <td>
                    <form action="/home" method="post">
                        <button name="removeGameId" value="{{game.id}}">remove</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>

<div class="section">
    <form class="section" action="/home" method="post">
        <div class="container">
            <h3 class="title">Create game session</h3>
            <div class="login-field">
                <input name="gameSessionName" type="text" placeholder="Enter session name" autocomplete="off" required>
                <button name="create" value="create">Create</button>
            </div>
        </div>
    </form>
</div>

<script>
    function redirectPage(path) {
        window.location.href = path;
    }
</script>

{% endblock %}

</html>