<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/tables.css">
    <title class="title">Old games</title>
</head>
{% extends 'navigationBar.html'%}

{% block content %}

<body>
<div class="section">
    <div class="container">
        {% if not id %}
        <h3 class="title">Select a Game Session</h3>
        <div>
            <table class="statusTable">
                <tr>
                    <th>Session Name</th>
                    <th>View Games</th>
                </tr>
                {% for session in game_sessions %}
                <tr>
                    <td>{{ session.name }}</td>
                    <td>
                        <button onclick="redirectPage('/old-games?id={{session.id}}')">
                            View Games
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <h3 class="title">Old games in session: {{id}}</h3>
        <div>
            <table class="statusTable">
                <tr>
                    <th>team names</th>
                    <th>team scores</th>
                    <th>team bonus</th>
                    <th>station hold</th>
                    <th>recalculate</th>
                </tr>
                {%for game in gamesScore%}
                <tr>
                    <td>
                        {%for team in game.get("score")%}
                        <p style="color:{{game.get("score").get(team).get("color")}};">{{team}}</p>
                        {%endfor%}
                    </td>
                    <td>
                        {%for team in game.get("score")%}
                        <p style="color:{{game.get("score").get(team).get("color")}};">{{game.get("score").get(team).get("score")}}</p>
                        {%endfor%}
                    </td>
                    <td>
                        {%for team in game.get("score")%}
                        <p style="color:{{game.get("score").get(team).get("color")}};">
                            {% if game.get('team_bonus') is not none and game.get('team_bonus').get(team) is not none %}
                                {{ game.get('team_bonus').get(team) }}
                            {% else %}
                                []
                            {% endif %}
                        </p>
                        {%endfor%}
                    </td>
                    <td>
                        {%for station in game.get("lastTeams")%}
                        <p style="color:{{game.get("lastTeams").get(station).get("color")}};">
                        {{game.get("lastTeams").get(station).get("name")}}: {{game.get("lastTeams").get(station).get("teamName")}}</p>
                        {%endfor%}
                    </td>
                    <td>
                        <button onclick="redirectPage('/old-games/re-calc?id={{id}}&game-id={{game.get("id")}}')">
                            recalculate score
                        </button>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
        {% endif %}
    </div>
</div>
{{message}}
</body>
<script>
    function redirectPage(path) {
        location.assign(path)
    }
</script>
{% endblock %}
</html>
